<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <div th:fragment="footer" class="text-center m-3">
        <p>CarMax Control Panel - Copyright &copy; CarMax</p>
    </div>

    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a class="text-dark"
           th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            [[${columnLabel}]]
        </a>
        <span th:if="${sortField == fieldName}"
              th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></span>
    </th>

    <a th:fragment="page_link(pageNum, label)"
       class="page-link"
       th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]
    </a>

    <div th:fragment="category_status" th:remove="tag">
        <a th:if="${cat.enabled == true}" class="fa-solid fa-check-circle fa-2x icon-green"
           th:href="@{'/categories/' + ${cat.id} + '/enabled/false'}"
           title="Disable this category"
        ></a>
        <a th:if="${cat.enabled == false}" class="fa-solid fa-circle fa-2x icon-dark"
           th:href="@{'/categories/' + ${cat.id} + '/enabled/true'}"
           title="Enable this category"
        ></a>
    </div>

    <div th:fragment="category_actions" th:remove="tag">

        <a class="fa-solid fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${cat.id}}"
           title="Edit this category"></a>
        <th:block th:if="${cat.hasChildren == false}">&nbsp;
        <a class="fa-solid fa-trash fa-2x icon-dark link-delete"
           th:href="@{'/categories/delete/' + ${cat.id}}"
           th:entityId="${cat.id}"
           title="Delete this category"
        ></a>
        </th:block>
    </div>
</body>
</html>