<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

    <div th:fragment="footer" class="text-center m-3">
        <p>CarMax Control Panel - Copyright &copy; CarMax</p>
    </div>

    <th th:fragment="column_link(moduleUrl, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a class="text-dark"
           th:href="@{${moduleUrl} +'/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            [[${columnLabel}]]
        </a>
        <span th:if="${sortField == fieldName}"
              th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></span>
    </th>

    <a th:fragment="page_link(moduleUrl, pageNum, label)"
       class="page-link"
       th:href="@{${moduleUrl} +'/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]
    </a>

    <div th:fragment="status(enabled, entityName, entityUrl)" th:remove="tag">
        <a th:if="${enabled == true}" class="fa-solid fa-check-circle fa-2x icon-green"
           th:href="@{${entityUrl} + '/enabled/false'}"
           th:title="'Disable this ' + ${entityName}"
        ></a>
        <a th:if="${enabled == false}" class="fa-solid fa-circle fa-2x icon-dark"
           th:href="@{${entityUrl} + '/enabled/true'}"
           th:title="'Enable this ' + ${entityName}"
        ></a>
    </div>

    <div th:fragment="edit(entityName, entityUrl)" th:remove="tag">
        <a class="fa-solid fa-edit fa-2x icon-green" th:href="@{${entityUrl}}"
           th:title="'Edit this ' + ${entityName}"></a>
    </div>

    <div th:fragment="delete(entityName, entityId, deleteUrl, visible)" th:remove="tag">
        <th:block th:if="${visible}">
            <a class="fa-solid fa-trash fa-2x icon-dark link-delete"
               th:href="@{${deleteUrl}}"
               th:entityId="${entityId}"
               title="'Delete this ' + ${entityName}"
            ></a>
        </th:block>
    </div>

    <div th:fragment="category_actions" th:remove="tag">
        <a class="fa-solid fa-edit fa-2x icon-green" th:href="@{'/categories/edit/' + ${cat.id}}"
           title="Edit this category"></a>
        &nbsp;
        <th:block th:if="${cat.hasChildren == false}">
            <a class="fa-solid fa-trash fa-2x icon-dark link-delete"
               th:href="@{'/categories/delete/' + ${cat.id}}"
               th:catId="${cat.id}"
               title="Delete this category"
            ></a>
        </th:block>
    </div>

    <div th:fragment="search_form_and_message(moduleUrl)">
        <form th:action="@{${moduleUrl}}" class="d-flex align-items-center m-3">
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDir" th:value="${sortDir}"/>

                <div class="col-auto">
                    <label for="keyword" class="col-form-label">Filter:&nbsp;</label>
                </div>
                <div class="col-auto">
                    <input type="search" id="keyword" name="keyword" th:value="${keyword}" class="form-control" required/>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Search" class="btn btn-primary ms-1"/>
                    <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
                </div>
        </form>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
    </div>

    <div th:fragment="pagination(moduleUrl, entityName)" th:remove="tag">
        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]] </span>
        </div>
        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>No [[${entityName}]] found!</span>
        </div>
        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleUrl}, 1, 'First')"></a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleUrl}, ${currentPage - 1}, 'Previous')"></a>
                    </li>
                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:replace="fragments :: page_link(${moduleUrl}, ${i}, ${i})"></a>
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleUrl}, ${currentPage + 1}, 'Next')"></a>
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a th:replace="fragments :: page_link(${moduleUrl}, ${totalPages}, 'Last')"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>