<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Home - CarMax Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"
    ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <div class="text-center">
            <h2>Manage Users</h2>
        </div>
        <a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2x icon-green"
           title="Add new user"></a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="d-flex align-items-center m-3">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>

            <div class="col-auto">
                <label for="keyword" class="col-form-label">Filter:&nbsp;</label>
            </div>
            <div class="col-auto">
                <input type="search" id="keyword" name="keyword" th:value="${keyword}" class="form-control" required/>
            </div>
            <div class="col-auto">
                <input type="submit" value="Search" class="btn btn-primary ms-1"/>
                <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()"/>
            </div>
        </form>
    </div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-secondary">
                <tr>
                    <th class="hideable-column">
                        <th th:replace="fragments :: column_link('id', 'User ID', 'tag')"></th>
                    </th>
                    <th>Photos</th>
                    <th class="hideable-column">
                        <th th:replace="fragments :: column_link('email', 'E-mail', 'tag')"></th>
                    </th>
                    <th th:replace="fragments :: column_link('firstName', 'First Name', 'none')"></th>
                    <th th:replace="fragments :: column_link('lastName', 'Last Name', 'none')"></th>
                    <th>Roles</th>
                    <th th:replace="fragments :: column_link('enabled', 'Enabled', 'none')"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td class="hideable-column">[[${user.id}]]</td>
                    <td><span class="fa-solid fa-image-portrait fa-3x icon-silver"></span></td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>

                    <td>
                        <a th:if="${user.enabled == true}" class="fa-solid fa-check-circle fa-2x icon-green"
                           th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                           title="Disable this user"
                        ></a>
                        <a th:if="${user.enabled == false}" class="fa-solid fa-circle fa-2x icon-dark"
                           th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                           title="Enable this user"
                        ></a>
                    </td>

                    <td>
                        <a class="fa-solid fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
                            title="Edit this user"></a>
                        &nbsp;
                        <a class="fa-solid fa-trash fa-2x icon-dark link-delete"
                           th:href="@{'/users/delete/' + ${user.id}}"
                           th:userId="${user.id}"
                           title="Delete this user"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="user : ${listUsers}" class="row m-1">
            <div class="col-4">
                <div>[[${user.id}]]</div>
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <a th:if="${user.enabled == true}" class="fa-solid fa-check-circle fa-2x icon-green"
                       th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
                       title="Disable this user"
                    ></a>
                    <a th:if="${user.enabled == false}" class="fa-solid fa-circle fa-2x icon-dark"
                       th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
                       title="Enable this user"
                    ></a>
                    &nbsp;
                    <a class="fa-solid fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
                       title="Edit this user"></a>
                    &nbsp;&nbsp;
                    <a class="fa-solid fa-trash fa-2x icon-dark link-delete"
                       th:href="@{'/users/delete/' + ${user.id}}"
                       th:userId="${user.id}"
                       title="Delete this user"></a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: pagination('/users', 'users')"></div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            //alert($(this).attr("href"));
            userId = link.attr("userId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete user with ID " + userId + "?");
            $("#confirmModal").modal("show");
        });
    });

    function clearFilter() {
        window.location = "[[@{/users}]]"
    }

</script>
</body>
</html>