<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>[[${pageTitle}]]</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"
    ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Manage Users | [[${pageTitle}]]</h2>
    </div>

    <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
        th:object="${user}" onsubmit="return checkEmailUnique(this);">
        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-4 col-form-label">E-mail</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control ms-1" th:field="*{email}" required minlength="8" maxlength="128"/>
                    </div>
                </div>
            </div>
            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-4 col-form-label">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control ms-1" th:field="*{firstName}" required minlength="2" maxlength="45"/>
                    </div>
                </div>
            </div>
            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-4 col-form-label">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control ms-1" th:field="*{lastName}" required minlength="2" maxlength="45"/>
                    </div>
                </div>
            </div>
            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input th:if="${user.id == null}" type="password" class="form-control ms-1"
                               th:field="*{password}" required minlength="8" maxlength="20"/>

                        <input th:if="${user.id != null}" type="password" class="form-control ms-1"
                               th:field="*{password}" minlength="8" maxlength="20"/>
                    </div>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-4 col-form-label">Roles</label>
                    <div class="col-sm-8">
                        <th:block th:each="role : ${listRoles}">
                            <input type="checkbox" th:field="*{roles}"
                                th:text="${role.name}"
                                th:value="${role.id}"
                                class="m-2"
                            />
                            - <small>[[${role.description}]]</small>
                            <br/>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-4 col-form-label">Enabled</label>
                    <div class="col-sm-8">
                        <input type="checkbox" th:field="*{enabled}"/>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
                <input type="button" value="Cancel" class="btn btn-secondary mt-3" id="buttonCancel" />
            </div>
        </div>
    </form>

    <div th:replace="modal_fragments :: modal_dialog"></div>
    <div th:replace="fragments :: footer"></div>
</div>
<script type="text/javascript">
    moduleURL = "[[@{/users}]]";
    function checkEmailUnique(form) {
        url = "[[@{/users/check_email}]]";
        userEmail = $("#email").val();
        userId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();

        params = {id: userId, email: userEmail, _csrf: csrfValue};

        $.post(url, params, function(response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicated") {
                showWarningModal("There is another user having the email " + userEmail);
            } else {
                showErrorModal("Unknown response from server");
            }
        }).fail(function() {
            showErrorModal("Could not connect to the server");
        });

        return false;
    }

</script>
<script th:src="@{/js/common_form.js}"></script>-->
</body>
</html>