<div class="modal-header">
    <h4 class="modal-title">History Details</h4>
    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
</div>

<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#overview" role="tab">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">Images</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active p-3" id="overview" role="tabpanel">

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-2 col-form-label">Vehicle name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control ms-1" th:value="${history.vehicle}" readonly />
                    </div>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-2 col-form-label">Mileage:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control ms-1" th:value="${history.mileage}" readonly/>
                    </div>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-2 col-form-label">Service:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control ms-1" th:value="${history.service}" readonly />
                    </div>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-2 col-form-label">Chosen parts:</label>
                        <th:block th:each="prod : ${history.products}">
                            <span class="badge bg-secondary ms-1" th:text="${prod.name}"></span>
                        </th:block>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-start">
                    <label class="col-sm-2 col-form-label">Enabled</label>
                    <div class="col-sm-10">
                        <input type="checkbox" th:checked="${history.enabled}" onclick="return false;" />
                    </div>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-2 col-form-label">Date:</label>
                    <div class="col-sm-10">
                        <span th:text="${#dates.format(history.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    </div>
                </div>
            </div>

            <div class="form-floating row mb-2">
                <div class="d-flex align-items-center">
                    <label class="col-sm-2 col-form-label">Description:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control border p-2 m-2" rows="8" readonly th:utext="${history.fullDescription}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="images" role="tabpanel">
            <div class="row">
                <div class="col border m-3 p-2">
                    <div><label>Main Image: [[${history.mainImage}]]</label></div>
                    <div class="m-2">
                        <img alt="Main image preview" class="img-fluid"
                             th:src="@{${history.mainImagePath}}"/>
                    </div>
                </div>

                <th:block th:each="historyImage, status : ${history.images}">
                    <div class="col border m-3 p-2">
                        <div>
                            <label>Extra Image #[[${status.index + 1}]]: [[${historyImage.name}]]</label>
                        </div>
                        <div class="m-2">
                            <img th:alt="'Extra image #' + ${status.index + 1} + ' preview'" class="img-fluid"
                                 th:src="@{${historyImage.imagePath}}"/>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
</div>