<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <form th:action="@{/settings/save_mail_templates}" method="post">

        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="mailTemplatesTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#customerVerification" role="tab">Customer Verification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#orderConfirmation" role="tab">Order Confirmation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#expirationRCA" role="tab">RCA Expiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#expirationITP" role="tab">ITP Expiration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#changeOil" role="tab">Oil Change</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#timingBelt" role="tab">Timing Belt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#changeBrakes" role="tab">Brakes Replacement</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active p-3" id="customerVerification" role="tabpanel">
                    <div th:replace="settings/mail_templates/customer_verification:: content"></div>
                </div>
                <div class="tab-pane p-3" id="orderConfirmation" role="tabpanel">
                    <div th:replace="settings/mail_templates/order_confirmation:: content"></div>
                </div>
                <div class="tab-pane p-3" id="expirationRCA" role="tabpanel">
                    <div th:replace="settings/mail_templates/rca_renewal:: content"></div>
                </div>
                <div class="tab-pane p-3" id="expirationITP" role="tabpanel">
                    <div th:replace="settings/mail_templates/itp_renewal:: content"></div>
                </div>
                <div class="tab-pane p-3" id="changeOil" role="tabpanel">
                    <div th:replace="settings/mail_templates/oil_change:: content"></div>
                </div>
                <div class="tab-pane p-3" id="timingBelt" role="tabpanel">
                    <div th:replace="settings/mail_templates/belt_change:: content"></div>
                </div>
                <div class="tab-pane p-3" id="changeBrakes" role="tabpanel">
                    <div th:replace="settings/mail_templates/brake_change:: content"></div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3" />
        </div>
    </form>
</div>
</body>
</html>