<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Login - CarMax</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">

    <div th:replace="navigation :: header_menu"></div>
    <div>
        <h2>Customer Login</h2>
    </div>

    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out</p>
        </div>
        <div class="border border-secondary rounded p-3">
            <p>
                <input type="email" name="email" class="form-control"  placeholder="E-mail" required>
            </p>
            <p>
                <input type="password" name="password" class="form-control"  placeholder="Password" required>
            </p>
            <p>
                <input type="checkbox" name="remember-me"/>&nbsp; Remember Me
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary"/>
            </p>
        </div>
    </form>


    <div>
        or <a th:href="@{/forgot_password}">Forgot Password</a>
    </div>
    <div>&nbsp;</div>
    <div>
        Don't have an account? <a th:href="@{/register}"><b>Sign up</b></a>
    </div>

    <div>&nbsp;</div>
    <div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>