<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Brands - CarMax Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"
    ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <div class="text-center">
            <h2>Manage Brands</h2>
        </div>
        <a th:href="@{/brands/new}" class="fa-solid fa-folder-plus fa-2x icon-green"
           title="Add new brand"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message('/brands/page/1')"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-secondary">
                <tr>
                    <th class="hideable-column">Brand ID</th>
                    <th>Logo</th>
                    <th th:replace="fragments :: column_link('/brands', 'name', 'Brand Name', 'none')" />
                    <th>Categories</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="brand : ${listBrands}">
                <td class="hideable-column">[[${brand.id}]]</td>
                <td>
                    <img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>
                </td>
                <td>[[${brand.name}]]</td>
                <td>
                    <th:block th:each="cat : ${brand.categories}">
                        <span class="badge bg-secondary" th:text="${cat.name}"></span>
                    </th:block>
                </td>
                <td>
                    <a class="fa-solid fa-edit fa-2x icon-green" th:href="@{'/brands/edit/' + ${brand.id}}"
                       title="Edit this category"></a>
                    &nbsp;
                    <a class="fa-solid fa-trash fa-2x icon-dark link-delete"
                       th:href="@{'/brands/delete/' + ${brand.id}}"
                       th:brandId="${brand.id}"
                       title="Delete this category"
                    ></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
            <div th:each="brand : ${listBrands}" class="row m-1">
                <div class="col-6">
                    <img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>
                </div>
                <div class="col-6">
                    <div><b>[[${brand.name}]]</b></div>
                    <div class="mt-2">
                        <a class="fa-solid fa-edit fa-2x icon-green" th:href="@{'/brands/edit/' + ${brand.id}}"
                            title="Edit this category"></a>
                        &nbsp;&nbsp;
                        <a class="fa-solid fa-trash fa-2x icon-dark link-delete"
                            th:href="@{'/brands/delete/' + ${brand.id}}"
                            th:brandId="${brand.id}"
                            title="Delete this category"
                        ></a>
                    </div>
                </div>
                <div>&nbsp;</div>
            </div>
    </div>

    <div th:replace="fragments :: pagination('/brands', 'brands')"></div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/brands}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            //alert($(this).attr("href"));
            brandId = link.attr("brandId");
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmText").text("Are you sure you want to delete brand with ID " + brandId + "?");
            $("#confirmModal").modal("show");
        });
    });

    function clearFilter() {
        window.location = "[[@{/brands}]]"
    }
</script>
</body>
</html>